*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(image/banner.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    
    
}

nav img 
{
    width: 250px;
    
}
nav img:hover 
{
    transform: scale(1.1);
    
}
.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #0e4d82;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    
}
.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: #0e4d82;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width:100%;
}
.text-box
{
    width: 90%;
    color:#fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h2{
    font-size: 35px;
    font-family: 'Noto Sans Devanagari', sans-serif;
}
.slogan {
    margin: 10px 0px 0px ;
    font-size: 20px;
    font-family: 'Great Vibes', cursive;
    color: white;
}
.motto {
    margin: 0px 0px 10px ;
    font-size: 20px;
    font-family: 'Courier New', monospace, cursive;
    font-weight: bold;
    color: white;
}
.hero-btn
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border:1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover
{
    border: 1px solid #0e4d82;
    background:#0e4d82;
    transition: 1s;
}
nav .fa-solid
{
    display: none;
}


@media(max-width:700px)
{
    .text-box h1{
    font-size: 10px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        /* background: #0e4d82; */
        background-color: #fff;
        height: 100vh;
        width:160px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
    nav .fa-solid
    {
        display: block;
        color: #050505;
        margin: 10px;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
    }
    nav .fa-xmark
    {
        margin-top:30px;
        margin-bottom: 0px;
    }
    .nav-links ul li
    {
        padding: 20px;
    }
    .nav-links ul li:hover
    {
        display: block;
    }
}


/* --------------OUR TEAM---------- */
.team
{
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #0e4d82;
}
p{
    
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row
{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-snap-type: x mandatory;
    
}
.team-col
{
    flex: 0 0 auto;
    min-width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    scroll-snap-align: start;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #0e4d82;
}
.team-col p{
    font-size: 14px;
    color: #020202;
    margin: 0px;
}
.team-col::-webkit-scrollbar
{
    display: none;
}
.team-col{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.team-col:hover
{
    transform: translateY(-10px);
    cursor: pointer;
}
.team-col img{
    height:200px
}
@media(max-width: 700px)
{
    .row{
        flex-direction: row;
    }
}


/* ---------Academic Programs------------ */
.academic-program {
  margin-top: 20px;  
  text-align: center;
  padding: 40px 40px;
}

.slider-container {
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  max-width: 100%;
}

.slider {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.academic-col {
  flex: 0 0 auto;
  width: 200px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  background: #fff;
  border-radius: 10px;
  margin-top:12px;
  margin-bottom: 10px;
  margin-left:5px;
  transition: transform 0.3s ease;
}

.academic-col:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.academic-col img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.academic-col h3 {
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
}

.academic-program p{
    color: black;
}

.view-all {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  border-radius: 10px;
  margin-top:12px;
  margin-bottom: 10px;
  margin-right:10px;
}

.view-all h3 {
  margin: 0;
  padding: 20px;
  font-size: 18px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(94, 93, 99);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  opacity: 0.7;
}

.slider-btn.left {
  left: 5px;
}

.slider-btn.right {
  right: 5px;
}

.slider-container a {
  text-decoration: none;
}

.slider-container a::after {
  content: '';
  width: 0px;
  height: 2px;
  background: #0e4d82;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.slider-container a:hover::after {
  width: 100%;
}


/* --------facilities---------- */
.facilities
{
    margin:auto;
    width:90%;
    padding-top: 30px;
    text-align: center;
}

.facilities-col
{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    transition: transform 0.3s ease;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.facilities-col:hover
{
    transform: translateY(10px);
    cursor: pointer;
    
}
.facilities-col img{
    width:100%;
    border-radius: 10px;
    
}

.facilities-col h3{
    margin-top:0px ;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
}


/* -------------testimonials------------- */
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}
.rrow
{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-snap-type: x mandatory;
    
}
p{
    margin:0px;
    color: black;
}

.testimonials-col {
    flex-basis: 44%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img {
    height: 100px;
    margin-left: 5px;
    margin-right: 50px;
    border-radius: 50%;
}

.testimonials-col p {
    padding: 0px;
    text-align: left;
    color: black;
}

.testimonials-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonials-col .fa-star,
.testimonials-col .fa-star-half-stroke {
    color: rgb(177, 28, 28);
}

@media (max-width: 700px) {
    .testimonials-col img {
        margin-left: 0px;
        margin-right: 15px;
    }

    .testimonials-col p {
        padding: 0px;
        text-align: left;
    }
    .rrow{
        flex-direction: column;
    }
}



/* -------------------Call to Action------------------ */
.cta
{
    margin: 100px auto;
    width:80%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7)), url(image/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    padding: 0px;
    margin-bottom: 20px;
}

@media(max-width:700px)
{
    .cta h1{
        font-size:24px;
    }
}

/* ----------------------FOOTER------------ */


/* Footer wrapper */
.footer {
    display: flex;
    flex-direction: column;
    background: #0e4d82;
    color: white;
}

/* Top section */
.footer-top {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Left column */
.footer-left {
    flex: 7;
}

.footer-right h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-left h2
{
    margin-left: 10px;
}

.footer-top p {
    font-size: 14px;
    line-height: 1.5;
    color: #d3d3d3;
    margin: 0;
}

/* Right column */
.footer-right {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.5rem;
}

.social-head {
    text-align: center;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.icons a {
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    transition: all 0.3s ease;
}

.icons a:hover {
    transform: scale(1.1);
}

/* Social button colors */
.facebook {
    background: rgb(24, 119, 242);
    color: white;
}
.facebook:hover {
    background: rgb(5, 58, 129);
}
.instagram {
    background-color: rgb(232, 102, 176);
    color: white;
}
.instagram:hover {
    background: #C13584;
}
.youtube {
    background: rgb(232, 87, 87);
    color: white;
}
.youtube:hover {
    background: rgb(255, 0, 0);
}

/* Divider line */
.footer-divider {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
}

/* Bottom section */
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 10px;
    background-color: #07375f;
    color: #ccc;
}

.footer-bottom p {
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.footer-bottom a{
	text-decoration:none;
	color:#c4b705;
    
}

.footer-bottom a:hover{
    text-decoration:underline;
    color:#ffffff;
    
}

/* Responsive design */
@media (max-width: 700px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-left, 
    .footer-right {
        flex: unset;
        width: 100%;
    }

    .footer-left p {
        text-align: center;
    }

    .footer-bottom
    {
        text-align: center;
    }
}









/* ----------About Us----------- */
.sub-header {
    height: 590px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(image/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    color: white;
}
.about-head
{
    font-size: 100px;
}

.about-us {
    width: 95%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.about-us h1 {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* Default (LARGE SCREEN) - row layout */
.about-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.about-col {
    flex-basis: 50%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.about-col p {
    margin-top: 0px;
    padding: 15px 0px 25px;
    color: black;
    text-align: justify;
    font-size: 15px;
}

.red-btn {
    border: 1px solid;
    background: transparent;
    color: #0e4d82;
}

.red-btn:hover {
    color: #fff;
}
.mobile-btn {
    display: none;
}

/* SMALL SCREEN MEDIA QUERY (column layout) */
@media (max-width: 700px) {
    .desktop-btn
    {
        display: none;
    }
    .mobile-btn
    {
        display: inline-block;
        margin-top:20px;
        text-align: center;
    }
    .about-row {
        flex-direction: column;
    }

    .about-col {
        flex-basis: 100%;
        padding: 15px 0;
    }
    .about-head
    {
        font-size: 90px;
        margin-top: 80px; 
    }

}



/*------------------Admission----------------*/
.adm-cover{
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(image/admission.jpg);
}
.admission
{
    text-align: center;
    padding: 20px;
}
.adm-head
{
    font-size: 100px;
}
.admission h1{
    text-align: Center;
    margin-bottom: 0px;
}
.admission-pro{
    display:inline-block;
    text-align: center;
    border:1px solid;
    color: #fff;
    background: rgb(3, 59, 58);
    border-radius: 10px;
    justify-content: justify;
    position: relative;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
}
.admission-pro:hover{
    cursor:pointer;
    transform: scale(1.1);
}
.adm-body
{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.adm-instruction
{
    flex:2;
    min-width: 300px;
    text-align: justify;
    border-right: 2px solid #ddd8d8;
}
.adm-instruction h1
{
    font-size: 20px;
    display: block;
    border:1px solid;
    background: #07375f;
    color: white;
    border-radius: 10px;
    padding: 5px 10px; 
    text-align: center; 
    width:fit-content;
    margin-left:20px;
}

.adm-instruction p{
    margin-left: 20px;
    text-align: justify;
    font-size: 15px;
}
.adm-instruction h2{
    font-size:20px;
    margin-left: 20px;
    text-align: left;
}
.adm-instruction strong, em
{
    font-weight: 600;
}
.adm-instruction ul{
    margin-bottom: 20px;
}
.adm-instruction ul li{
    margin-left: 45px;
    text-align: left;
}
.highlight-box
{
   margin-left: 20px;
   margin-right:5px;
    background:#c7e4fc;
    border-radius: 10px;
    height:140px;
    padding-bottom: 0.1rem;
    margin-bottom: 20px;
}
.highlight-box h3{
    padding-top: 15px;
    color:#06103d;
    text-align: left;
    margin-left: 25px;
}
.adm-contact h2{
    margin-left:30px;
    text-decoration: underline;
}
.adm-contact p
{
    line-height: 10px;
}
.adm-side
{
    flex:1;
    min-width:200px;
    flex-direction: column;
}
.adm-side {
    max-width:100%;
    border-radius: 10px;
}
.adm-col
{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 10%;
    transition: transform 0.3s ease;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.adm-col img{
    width:100%;
    border-radius: 10px;
}
.adm-col h3{
    margin-top:10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.adm-col:hover
{
    transform: translateY(10px);
    cursor: pointer;
}

.adm-desktop-btn
{
    margin-top:20px;
    margin-left:30px;
    font-weight: bold;
}
.adm-link
{
    cursor: pointer;
    color: blue;
}
.adm-link:hover
{
    text-decoration: underline;
    color: green;
}


    
@media (max-width: 700px) {

    .adm-head {
        font-size: 80px;
        margin-top: 80px;
        line-height: 90px;
    }
    
    .admission h1{
    font-size: 30px;
    }
    .adm-side{
        display: none;
    }
    .adm-instruction
    {
        border-right: none;
    }
    .adm-instruction h1{
        margin-top:10px;
        font-size:18px;
        text-align: left;
    }

    .adm-instruction h2{
        font-size:17px;
    }
    .highlight-box
    {

        height: auto;
    }

}



/* -------------blog-contents------- */
.blog-cover{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(image/blog.jpg);
}
.blog-head
{
    font-size:100px;
}
.blog
{
    text-align:center;
    padding: 20px;
}
.blog h1
{
    text-align: center;
    margin-bottom:0px ;
}
.blog p{
    margin-top: 0px;
    color: #555;
    font-size: 15px;
}
.blog-body
{
    display: flex;
    gap:30px;
    flex-direction: column;
    align-items: center;
}
hr{
   border: 0;
    border-top: 2px solid #000;            
    width: 95%;                  
    opacity: 0.6;     
}
.blog-body h1
{
    border:0pxsolid;
    background:#07375f;
    color:#fff;
    margin-top:10px;
    text-align: center;
    border-radius:10px;
    width:fit-content;
    display:inline-flex;
    font-size: 24px;
    padding: 5px 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    transform: translate(0.3) ease;
}
.blog-body h1:hover{
    transform: translateY(10px);
    cursor: pointer;

}
.blog-photo{
    display: flex;
    gap: 30px;               
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 10px;
}
.blog-box
{
    display:flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 250px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    border-radius: 10px;
    scroll-snap-align: start;
} 
.blog-box:hover{
    transform:translateY(10px);
    cursor:pointer;
}
.blog-photo img
{
    max-width:100%;
    height: auto;
    border-radius: 10px;
}
.blog-video{
    display: flex;
    gap: 20px;               
    justify-content: flex-start;
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 10px;
}
.blog-box2
{
    display:flex;
    justify-content: center;
    align-items: center;
    width:700px;
    height: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
} 
.blog-box2 .comment {
    position: absolute;
    top: 50%;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: transform 0.3s ease;
}
.blog-box2 .comment:hover
{
    cursor: pointer;
    transform:translateY(10px);
}
@media (max-width: 700px)
{   
    .blog-head
    {
        font-size: 50px;
        margin-top: 80px;
        line-height: 90px;
    }
    .blog-photo
    {
        flex-direction: column;
    }
    .blog-box {
        width: fit-content;
        height: 150px;
    }

}




/* ----------------Contact Us----------------- */
.cont-cover{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(image/banner2.jpg);
}
.cont-head{
    text-align: center;
    font-size: 100px;
}
.location
{
    text-align: center;
    
}
.location h1{
    margin-top: 15px;
    text-align: center;

}
.location p{
    text-align: center;
    font-size: 17px;
    color: #777;
}

.location iframe
{
    width: 90%;
    border-radius: 10px;
}

.contact-us
{
    width: 90%;
    margin: auto;
}
.contact-row
{
    display: flex;
    justify-content: space-between;
}
.cont-box
{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    margin-bottom:10px ;
}
.contact-col
{
    flex-basis: 45%;
    margin-bottom: 30px;
}
.contact-col-right
{
    margin-top: 20px;
    flex-basis: 50%;
    margin-bottom: 30px;
    background-color: white;
    padding-right:50px;
    padding-left:50px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.contact-col-right h1{
    margin-top: 20px;
    font-size:30px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-col div .fa-solid
{
    font-size: 28px;
    color:#07375f;
    margin: 10px;
    margin-right: 30px;
}

.cont-box p{
    padding: 0;
}
.cont-box h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #07375f;
    font-weight: 400;
}

.contact-col-right input, .contact-col-right textarea
{
    width: 100%;
    padding: 15px;
    margin-bottom:17px;
    outline:none ;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

@media(max-width:700px)
{
    .contact-row
    {
        flex-direction: column;
    }
}






